// icons + button fixed 
*{
    padding: 0;
    margin: 0;
}


.svg{
    background-color: #D1E5EC;
    color: #388da8;
    
}
.svg:hover{
    background-color: #388DA8;
    color: white;

}
.up{
    position: fixed;
    bottom: 20px;
    right: 30px;
   background-color: #388DA8;
    border: none;
    outline: none;
   color: #D1E5EC;
    padding: 15px;
    border-radius: 100%; 
}
.up:hover{
    background-color: #D1E5EC;
    color: #388DA8;
}
// about
* {
    margin: 0;
    padding: 0;
}

.about {
    width: 100vw;

    .abt-child1 {
        width: 50%;
        color: #3E5055;

        span {
            gap: 5px;
            align-items: center;

        }

        .h1 {
            width: 45vw;
        }

        span>p {
            margin: 0;
        }

        svg {
            color: #549db4;
        }

        button {
            border-radius: 8px;
            padding: 0.5rem;
        }
    }

    .abt-child2 {
        width: 50%;
        gap: 15px;

        img {
            width: 20vw;
            border-radius: 10px;
        }
    }
}

@media (max-width:480px) {
    .flex{
        flex-direction: column;
        gap: 5vh;
        p{

            width:45vh !important;
        }
    }
        // about
        .about {
            width: 100vw;
            flex-direction: column;
            align-items: center;
            padding: 9PX !important;
    
            .abt-child1 {
                width: 100vw;
    
                h1 {
                    width: 100%;
                }
    
                span {
                    display: flex;
                }
    
                button {
                    width: 50% !important;
                }
    
            }
        }
    
        .abt-child2 {
            width: 100vw;
            flex-direction: column;
    
            img {
                width: 95vw !important;
                padding-top: 5vh;
                ;
            }
        }
    
}

